*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif
}
html,body{
    height:100%;
    width:100%;
}

section{
    height:100%;
    width:100%;
    position:relative;
}
nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
nav h1 i{
    rotate: 120deg;
    display: inline-block;
}
nav h1{
    padding:10px 20px;
    margin:6px 5px;
    font-weight: 700;
    font-size: 30px;
}
.part2{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:55px;
    padding:10px 20px;
}
nav h4{
    font-weight: 200;
  
}
nav button{
    padding:7px 7px;
    font-size: 15px;
    border-radius: 5px;
    border:2px solid #000;
    background-color: transparent;
}

.center{
    height:80%;
    width:100%;
    padding:30px 70px;
    display:flex;
}
.center-part1{
    height:100%;
    width:44%;

   
}
.center-part1 h1{
    font-size:50px;
    font-family:monospace;
    line-height: 1.1;
}
.center-part1 p{
    font-size: 18px;
    width:95%;
    margin-top: 7px;
    
}
.center-part1 button{
   background-color:#0e0c0c;
   color:wheat;
   border-radius:10px;
   padding:12px 10px;
   margin-top: 15px;
   font-weight:650;
   border:none;

}
.center-part2{
    height:100%;
    width:56%;
    position: relative;

}
.center-part2 img{
    position: absolute;
    right:0px;
    height:100%;
   
}
.section-bottom{
   display:flex;
   align-items:center;
   justify-content: space-between;
   padding:30px 40px;
 
   margin-bottom:50px;
}
.services{
   
    width:100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
   
}
.services h3{

    font-weight:700;
    display: flex;
    padding:30px 30px;
    font-size: 50px;
}

.services p{
   width:40%;
   font-size:16px;
   margin-left: 50px;
 

}
.section-bottom img{
    height: 50px;
}

.container{
    height:80%;
    width: 100%;
    padding:40px 120px;
    display:flex;
    justify-content: space-between;
    flex-wrap:wrap;
    

}

.elem{
    height:400px;
    width:47%;
    border:2px solid black;
    border-radius:20px;
  background-color: red;
}